
@{
    ViewBag.Title = "Upload file to Dropbox";
}
<h2>Upload file to drop box</h2>
<script type="text/javascript">
    window.onload = function (e) {
        var flag = "@{@TempData["flag"]}";
        if (flag === "1") {
            alert("File uploaded to dropbox successfully!!");
        }
        else if (flag === "0") {
            alert("Error occured in uploadedin file to dropbox!!");
        }
    }
</script>
@using (Html.BeginForm("Index", "Home", FormMethod.Post, new { id = "frmUploadFile", enctype = "multipart/form-data" }))
{
    <input type="file" name="file" onchange="this.form.submit()" id="UploadDoc" />
}
